/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Header */

.header{
    background-color: rgb(48, 119, 112);
    box-shadow: 1px 1px 5px 0px rgb(48, 119, 112);
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */

.logo{
    display: inline-block;
    color: white;
}

#logo {
    width: 10vh;
    margin: 5px;
}

/* Nav menu */

.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(124, 172, 132);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: rgb(240, 239, 173);
}
.menu a:hover{
    background-color: rgb(175, 173, 163);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon 333*/
.hamb{
    cursor: pointer;
    float: right;
    padding: 35px 20px;
}/* Style label tag */

.hamb-line {
    background: rgb(233, 232, 177);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: rgb(233, 232, 177);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.side-menu {
    display: none;
} /* Hide checkbox */



/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.conteudo-droga {
    width: 100vw;
    padding: 7px;
}

#img-def {
    display: none;
}

.geral {
    width: 100vw;
}

.item1 {
    width: 100%;
}

.rodape {
    width: 100%;
    text-align: center;
    background-color:rgb(111, 158, 161);
    color: white;
}

.definicao {
    display: block;
    width: 100vw;
}

.conteudo-droga {
    background-color:rgb(231, 215, 192);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "geral geral";
}

.geral {
    width: 100vw;
    grid-area: "geral";
}

div[class^="item-"]{
    background-color: rgb(231, 200, 59);
    height: 200px;
    margin: 3px;
    grid-area: "info";
}
.item-1 {
    text-align: center;
}

.item-2 {
    text-align: justify;
}
.item-3 {
    text-align: justify;
}
.item-4 {
    text-align: center;
}
.item-5 {
    text-align: justify;
    
}
.table {
    display:grid;
    grid-template-columns: auto auto;
}

.col1 {
    background-color: rgb(176, 127, 255);
}

.col12 {
    background-color: rgb(255, 16, 16);
}

.info {
    display: grid;
}

/* Responsiveness */
@media (min-width: 820px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }

    #logo {
        width: 10vh;
        margin: 4px;
    }
    
    .conteudo-droga {
        display: flex;
        width: 100vw;
    }

    .geral {
        height: 100%;
        padding: 5px;
        width: 50vw;
    }

    .item1 {
        display: block;
        text-align: center;
        height: 25vh;
        width: 75vw;
    }

    #img-def {
        display: block;
        width: 200px;
    }
    .info {
        grid-template-columns: 50% 50%;
        grid-area: "item" "item";
    }
    
}

@media (min-width: 1024px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }

    #logo {
        width: 12vh;
        margin: 5px;
    }
    .info {
    grid-template-columns: 33% 34% 33%;
    grid-template-areas: 
    "item item item";
    }

    .conteudo-droga {
        display: flex;
        width: 100vw;
    }

    .geral {
        height: 100%;
        padding: 5px;
        width: 10vw;
    }

    .item1 {
        display: block;
        text-align: center;
        height: 30vh;
        width: 50vw;
    }

    #img-def {
        display: block;
        width: 400px;
    }

}
